@font-face {
  font-family: "DINBek-Regular";
  src: url("/fonts/din/DINBek-Regular.eot");
  src: url("/fonts/din/DINBek-Regular.eot?#iefix") format('embedded-opentype'), url("/fonts/din/DINBek-Regular.woff") format('woff'), url("/fonts/din/DINBek-Regular.ttf") format('truetype'), url("/fonts/din/DINBek-Regular.svg#DINBek-Regular") format('svg'); }

/* line 4, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_typography.scss */
p {
  margin-bottom: 1em; }

/* line 8, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_typography.scss */
.heading {
  margin-bottom: 0.618em; }
  /* line 11, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_typography.scss */
  .heading.-large, h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 30px; }
  /* line 17, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_typography.scss */
  .heading.-medium, h2 {
    font-size: 25px;
    font-weight: normal;
    line-height: 20px; }
  /* line 23, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_typography.scss */
  .heading.-small, h3 {
    font-size: 12px;
    font-weight: bold;
    line-height: 13.33333px; }
  /* line 29, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_typography.scss */
  .heading.-smallest {
    font-size: 10px;
    font-weight: bold; }

/* line 35, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_typography.scss */
h1 {
  text-transform: uppercase;
  font-weight: 400; }

/* line 41, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_typography.scss */
h2 {
  margin: 45px 0 25px 0;
  font-weight: 400; }

/* line 51, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_typography.scss */
.space {
  font-family: Arial, Tahoma, san-serif; }

/* line 55, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_typography.scss */
.gray {
  color: #aaa8a8; }

/* line 1, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_common.scss */
a {
  color: #999;
  text-decoration: underline;
  -webkit-transition: color 0.4s ease 0s;
          transition: color 0.4s ease 0s; }
  /* line 6, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_common.scss */
  a:hover {
    color: #000; }

/* line 11, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_common.scss */
.btn {
  height: 45px;
  min-width: 150px;
  display: table-cell;
  position: relative; }
  /* line 17, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_common.scss */
  .btn a {
    text-align: center;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    -webkit-transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
            transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    border: solid white 1px;
    cursor: pointer !important; }
    /* line 30, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_common.scss */
    .btn a span {
      margin-top: 11px;
      font-size: 15px;
      -webkit-transition: color 0.4s ease 0s;
              transition: color 0.4s ease 0s;
      color: #FFFFFF;
      display: inline-block;
      position: relative;
      white-space: nowrap; }
  /* line 42, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_common.scss */
  .btn:hover a {
    background-color: white;
    border-color: black; }
    /* line 46, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_common.scss */
    .btn:hover a span {
      color: #000000; }

/* line 1, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_animations.scss */
.fade {
  opacity: 1; }

/* line 8, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_animations.scss */
.fade.ng-enter {
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
  opacity: 0; }

/* line 12, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_animations.scss */
.fade.ng-enter-active {
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
  opacity: 1; }

/* line 16, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_animations.scss */
.fade.ng-leave {
  opacity: 1; }

/* line 19, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_animations.scss */
.fade.ng-leave-active {
  opacity: 0; }

/* line 1, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_header.scss */
.header {
  height: 145px; }

/* line 5, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_header.scss */
.navbar {
  border-bottom: 1px solid;
  position: relative;
  top: 80px; }
  /* line 10, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_header.scss */
  .navbar .nav-line {
    height: 34px;
    display: inline-block;
    text-align: left;
    overflow: visible; }
    /* line 16, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_header.scss */
    .navbar .nav-line a {
      display: inherit;
      position: relative;
      box-sizing: border-box;
      width: 71px;
      height: 28px;
      overflow: visible;
      margin-left: 10px;
      padding-left: 10px;
      text-decoration: none;
      color: #AAA8A8;
      -webkit-transition: color 0.4s ease 0s;
              transition: color 0.4s ease 0s; }
      /* line 29, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_header.scss */
      .navbar .nav-line a:hover, .navbar .nav-line a.current {
        color: #000; }

/* line 1, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_footer.scss */
.footer {
  position: relative;
  margin-top: -74px;
  height: 45px;
  padding-top: 28px;
  width: 100%; }
  /* line 7, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/_footer.scss */
  .footer .footer-line {
    height: 45px;
    position: relative;
    border-top: 1px solid #000;
    text-align: center;
    line-height: 46px; }

/* line 1, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/pages/_page_basic.scss */
.page-info {
  margin: 50px 0 0 115px;
  font-size: 15px;
  position: relative; }
  /* line 7, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/pages/_page_basic.scss */
  .page-info .title hr {
    width: 300px;
    margin: 0; }
  /* line 13, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/pages/_page_basic.scss */
  .page-info h1 {
    margin-bottom: 55px; }
  /* line 17, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/pages/_page_basic.scss */
  .page-info .col-1, .page-info .col-2 {
    min-width: 300px;
    width: 45%;
    position: relative;
    display: inline-block;
    vertical-align: top; }

/* line 2, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/pages/_home.scss */
.home .title {
  text-align: center;
  display: inline-block;
  width: 100%; }
/* line 9, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/pages/_home.scss */
.home .logo {
  position: relative;
  width: 760px;
  margin: 0 auto 30px;
  opacity: 0.9;
  overflow: hidden; }

/* line 2, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/pages/_about.scss */
.about h1 {
  margin-top: 0; }

/* line 18, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/main.scss */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

/* line 22, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/main.scss */
html {
  min-height: 100%; }

/* line 26, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/main.scss */
body {
  font-family: 'DINBek-Regular';
  color: #333;
  background-color: #fff;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  min-height: 100%; }

/* line 37, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/main.scss */
.wrapper {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  max-width: 980px; }

/* line 44, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/main.scss */
.page {
  height: auto;
  min-height: 100%; }

/* line 49, /Users/mikhail/Projects/github/manme/manme.github.io/app/styles/main.scss */
.content {
  padding-bottom: 74px; }

