<div class="page-info cv">
  <div class="title">
    <h1>
      CV
    </h1>
    <h2>
      Mikhail Mandronov
    </h2>
    <p>
      Russia, Omsk
    </p>
    <br />
    <hr />
  </div>
  <div class="col-1">
    <h2>
      Education
    </h2>
    <p>
      Master
    </p>
    <p>
      Bachelor
    </p>
    <h2>
      Experience
    </h2>
    <p>
      Rails developer (Odesk 2015-present)
    </p>
    <p>
      Rails developer (LiveTyping 2014-2015)
    </p>
    <p>
      Flash developer (Odesk 2009-2013)
    </p>
    <p>
      Flash developer (Quattrohand 2008-2009)
    </p>
  </div>
  <div class="col-2">
    <h2>
      Skills
    </h2>
    <p>
      Ruby, Rails, JS, Golang, SQL, HTML, CSS, ActionScript 3
    </p>
    <p>
      Frontend: Angular, Ember, JQuery, Coffescript, Slim
    </p>
    <p>
      Backend: Postgresql, RethinkDB, Redis, API, Plugins, Rails Cache, Capistrano
    </p>
    <p>
      Methodology: TDD, Rspec, Capybara, Scrum, Kanban
    </p>
    <p>
      Other: Git, CI, Rubocop, Rails way
    </p>
    <h2>
      Open Source
    </h2>
    <p>
      Froala image/file uploader #rails #froala
    </p>
    <p>
      Image editable (upload image, crop, transform) #rails
    </p>
    <h2>
      Personal Projects
    </h2>
    <p>
      I Would Like To
    </p>
    <p>
      Orienteering Maps
    </p>
    <p>
      Splitter
    </p>
  </div>
  <div class="btn">
    <a href="#"><span>Download CV</span></a>
  </div>
</div>
